@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.App {
  font-family: sans-serif;
  text-align: left;
}

.content {
  display: flex;
  width: 100%;
}

.countries-list {
  max-width: 500px;
}

.country-item {
  display: flex;
  margin: 3px 0;
  align-items: center;
  padding: 3px 10px;
  border: 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

.country-item.saved {
  background: #ccc6ec;
}

.country-item.dark {
  background: #151515;
  color: #fff;
}

.country-item:focus,
.country-item:active {
  background: #c1f0f9;
}

.country-same-region {
  font-size: 10px;
  line-height: 12px;
}

.selected-container {
  display: flex;
  width: 50%;
  align-items: flex-start;
}

.selected-info {
  flex-grow: 1;
}

.selected-button {
  padding: 10px 20px;
  background: #00875a;
  color: #fff;
  border: 0;
}

.selected-flag {
  width: 150px;
}
